@model IEnumerable<Web.OnlineShop.Entity.Permission>

@{
    ViewBag.Title = "UserGroupRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Phân quyền người dùng
    }

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <p>Nhóm người dùng</p>
        </th>
        <th>
            Quyền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.UserGroup.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditRole", new {  groupId=item.UserGroupId }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
