@model Web.OnlineShop.Entity.Footer
@{
    var contact = (Web.OnlineShop.Entity.Contact)ViewBag.contact;
    var categorys = (IEnumerable<Web.OnlineShop.Entity.ProductCategory>)ViewBag.productCategorys;
}
@*@Html.Raw(Model.Content)*@
<!-- Footer -->
<!-- CSS only -->

        <footer class="page-footer font-small blue-grey lighten-5">
            <div style="background-color: #21d192;">
                <div class="container">

                    <!-- Grid row-->
                    <div class="row py-4 d-flex align-items-center">

                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0">Kết nối với chúng tôi trên mạng xã hội!</h6>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-7 text-center text-md-right">

                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f white-text mr-4"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g white-text mr-4"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in white-text mr-4"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fab fa-instagram white-text"> </i>
                            </a>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row-->

                </div>
            </div>

            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">

                <!-- Grid row -->
                <div class="row mt-3 dark-grey-text">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                        <!-- Content -->
                        <h6 class="text-uppercase font-weight-bold">Minh Hoàng</h6>
                        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            MINH HOÀNG DL - Nơi tạo dựng vẻ đẹp ngôi nhà !
                            Chuyên thiết kế, thi công và lắp ráp cửa nhựa - cửa nhôm cao cấp. Chính sách chiết khấu giá tốt đối với khách hàng thi công số lượng lớn!
                        </p>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Danh mục</h6>
                        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        @foreach (var item in categorys)
                        {
                            <p>
                                <a class="dark-grey-text" href="/san-pham/@item.MetaTitle-@item.Id">@item.Name</a>
                            </p>
                        }
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-5 col-xl-5 mx-auto mb-5">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
                        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <i class="fas fa-home mr-3"></i> @contact.Address
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> @contact.Email
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + @contact.Phone
                        </p>
                        <p>
                            <i class="fas fa-print mr-3"></i> +@contact.PhoneSecond
                        </p>
                        <p>
                            <i class="fa fa-globe"></i> Số người Online: @HttpContext.Current.Application["SessionCount"]
                        </p>
                        <p>
                            <i class="fa fa-globe"></i> Lượt truy cập: @HttpContext.Current.Application["AccessCount"]
                        </p>
                        <p></p>
                    </div>

                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">



                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center text-black-50 py-3">
                © 2020 Copyright:
                <a class="dark-grey-text" href="/"> MINH HOÀNG DL. All Right Reserved.</a>
            </div>
            <!-- Copyright -->
            
        </footer>

<!-- Footer -->

<style>
    .a {
        color: #666;
        font-size: 14px;
    }
</style>